@font-face {
  font-family: 'ArialCustom';
  src: url('../fonts/arial.ttf') format('truetype');
}

@font-face {
  font-family: 'DINOT';
  src: url('../fonts/DINOT.otf') format('opentype');
}

@font-face {
  font-family: 'DINOT-Bold';
  src: url('../fonts/DINOT-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'DINOT-Medium';
  src: url('../fonts/DINOT-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.otf') format('opentype');
}
